
# configurations and caches
.vscode/
.ruff_cache
*.egg-info
*__pycache__
.nfs*

# Checkpointing and runs
logs/
savings/
wandb/

# Personal file and folder
MYTODO.md
*.ipynb
tmp_*
tests/
*DS_Store

src/apps/gssm/configs