
# Data
data/

# Package and cache
*.egg-info
*__pycache__

# Checkpointing and run config
config.json
*.pth

# Configuration files
.vscode/

# Personal file and folder
src/mathllm/
tutorial/
Notes.md

